@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;500&display=swap');


:root{
    --headding-color: #262524;
    --typo-color:#5f6368;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
html,
body {
  position: relative;
  height: 100%;
}


.swiper {
    width: 100%;
    height: 650px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #262524;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  .third-section{
    padding: 100px 0;
  }
  .columns{
    flex-wrap: wrap !important;
  }
  .card-phone-img{
    width: 200px !important;
  }
 