@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap');

:root{
    --headding-color: #262524;
    --typo-color:#5f6368;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
html,
body {
  position: relative;
  height: 100%;
}

.site-logo{
  width: 130%;
  height: auto;
}
.swiper {
    width: 100%;
    height: 650px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #262524;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  .third-section{
    padding: 100px 0;
  }
  .columns{
    flex-wrap: wrap !important;
  }
  .card-phone-img{
    width: 200px !important;
  }
  .post-grid{
    display: flex;
    justify-content: center;
  }
 .card-post-img{
   width: 450px;
   object-fit: cover;
 }
 .card-post-title{
   font-size: 22px;
   font-weight: 600;
   font-family: 'Baloo Da 2', cursive;
 }
 .single-post-hero-title{
   font-size: 42px;
   font-weight: 600;
   font-family: 'Baloo Da 2', cursive !important; 
 }
 .post-img{
   width: 100%;
 }
 .post-title{
  font-size: 32px;
  font-weight: 600;
  font-family: 'Baloo Da 2', cursive;
}
 .main-content p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Baloo Da 2', cursive !important; 
 }
 .post-category-name{
   text-transform: capitalize;
 }
 .post-category{
  margin-bottom: 0 !important;
   text-transform: capitalize;
 }
 .post-time{
  margin: 8px 0;
 }
 .badge{
  position: absolute;
  top: 2%;
  left: 5%;
}
.post-content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  font-family: 'Baloo Da 2', cursive; 
}
 .single-category-hero-title{
   text-transform: capitalize;
 }
 .phone-info li{
      width: 33.3%;
    padding: 0 10px 20px;
    align-items: flex-start;
 }
 .phone-info img{
   width: 50px;
 }
 .single-phone-info{
  display: flex;
  justify-content: center;
 }
 .main-info{
  width: calc(100% - 50px);
    margin-left: 8px;
 }
 .info-title{
      font-size: 13px;
    color: var(--color2);
    font-weight: 400;
    margin: 0 0 3px 0;
 }
 .info-des{
  font-size: 15px;
    color: #262524;
    line-height: 16px;
 }
 .single-phone-price-icon{
  width: 50px;
}
 .phone-price-info{
   justify-content: center;
 }
 .phone-price{
   font-size: 18px;
 }

 .flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.preloader {
	background: white;


  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  z-index: 999;
	/* background: ; */
}
.comment-box{
  /* width: 80%; */
}
.user-icon{
  display: flex ;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: black;
  font-size: 22px;
  margin: 15px;
  padding: 20px;
  border-radius: 50%;
}
.main-comment{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 0;
}
.comment-details {
  margin-left: 15px;
}
.comment-details h2{
  font-size: 18px;
  font-weight: 600;
}
.comment-time{
  color: #636e72;
  font-size: 14px;
}
.comment-details p{
  margin-top: 10px;
  font-size: 16px;
}
.comment-heading {
  font-size: 32px;
  font-weight: 600;
}
